.br-top-right-radius {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}
.br-bottom-right-radius {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}
.br-bottom-radius {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}