<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title th:if="${book.getId()}==null">Create book</title>
    <title th:if="${book.getId()}!=null">Editing book</title>
    <link href="/styles/css/bootstrap.css" rel="stylesheet">
</head>
<body>
<div class="container col-md-5">
    <form class="align-self-center" th:method="POST" th:action="@{/books}" th:object="${book}">
        <input type="hidden" name="_method" value="patch" th:if="${book.getId()}!=null">
        <input type="hidden" id="id" th:field="*{id}"/>

        <div class="form-group my-3">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Enter book name"
                   th:field="*{name}">
            <small class="form-text text-danger" th:if="${#fields.hasErrors('name')}"
                   th:errors="*{name}"></small>
        </div>

        <div class="form-group my-3">
            <label for="author-name">Author name</label>
            <input type="text" class="form-control" id="author-name" placeholder="Enter author name"
                   th:field="*{authorName}">
            <small class="form-text text-danger" th:if="${#fields.hasErrors('authorName')}"
                   th:errors="*{authorName}"></small>
        </div>

        <div class="form-group my-3">
            <label for="year">Year</label>
            <input type="number" class="form-control" id="year" th:field="*{year}">
            <small class="form-text text-danger" th:if="${#fields.hasErrors('year')}"
                   th:errors="*{year}"></small>
        </div>

        <div class="form-group my-3">
            <label for="personId">Reading</label>
            <select class="form-control" id="personId" name="personId">
                <option>&lt;none&gt;</option>
                <option th:each="person : ${people}" th:value="${person.getId()}"
                        th:text="${person.getFullName()}" th:selected="${book.getPersonId()}==${person.getId()}"></option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
        <a type="submit" class="btn btn-secondary" th:href="@{/books}">List of books</a>
    </form>
</div>
</body>
</html>